<!DOCTYPE html>
<html>
<head>
      <title>Home</title>

      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  </head>

	<body class="body1">
 <ul>
  <li><a href="{{url_for('home')}}"><h4>Home</h4></a></li>
  <li><a href="{{url_for('add_job')}}"><h4>Add job</h4></a></li>
  <li><a href="{{url_for('about')}}"><h4>About Us</h4></a></li>
  </ul>

   <h5> Contact</h5> 
   <div align="justify" class="jobs_container">
    <h3>
    If you are interested in this job opportunity you should get in touch with 
 </h3>
 <br> 
 <h5> {{job.email}}</h5>
 </div>
	</body>
</html>